################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PROG3070-Project/StationDisplay/.vs/StationDisplay/v15/Server/sqlite3
/PROG3070-Project/Workstation/WorkstationSimulation/.vs/WorkstationSimulation/v15/Server/sqlite3/db.lock
