################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PROG3070-Project/StationDisplay/.vs/StationDisplay/v15/Server/sqlite3
