<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQL_Connection"
         connectionString="Data Source=;Initial Catalog=Kanban System Data;integrated security=SSPI;persist security info=False;Trusted_Connection=Yes;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>


</configuration>